<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="playlist.directory" value="C:\Users\Chris\AppData\Roaming\Kodi\userdata\playlists"/>
    <add key="videos.directory" value="H:\Videos"/>
  </appSettings>
    
</configuration>